<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,600,700&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/css_login.css">
    <link rel="icon" href="static/img/icons/fork.png" type="images/x-ico">
    <style>
        html { height: 100%; }
        body {
        margin: 0;
        height: 100%;
        background: url(static/img/background/11.jpeg);
        background-size: cover;
        }
    </style>
</head>
<body>
    <form class="form" method="post">
        <h1 class="form_title">Antidote</h1>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form_group">
            {{ form.email(class="form_input", type='email', placeholder=" ") }}
            <label class="form_label">Email</label>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div class="form_group">
            {{ form.password(class="form_input", type='password', placeholder=" ") }}
            <label class="form_label">Пароль</label>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </div>
        <div class="switch">
            {{ form.remember_me(class="checkbox") }}
            {{ form.remember_me.label(class="checkbox_text") }}
            <p></p>
        </div>
        {{ form.submit(type="submit", class="form_button") }}
        <div class="form_label_none_div">
            <small><p> </p></small>
        </div>
        <div class="error">
            <p></p>
            <h1 class="message_error">{{message}}</h1>
        </div>
        <span onclick="window.location.href='/';" class="close"></span>
    </form>
    <div class="antidote">&copy; Все права защищены, Antidote</div>

<!-- jQuery -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<!-- Popper -->
<script src="static/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>