<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронь</title>
    <link rel="stylesheet" type="text/css" href="static/css/css_reservation.css">
    <style>
        html { height: 100%; }
        body {
        margin: 0;
        height: 100%;
        background-color: #000;
        background-size: cover;
        }

    </style>
</head>
<body>
<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Зарезервируй стол</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam
                            consectetur molestias itaque
                            ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid
                            consequuntur cumque quasi.
                            Perspiciatis.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form class="form" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.csrf_token }}
                            <div class="form-group">
                                <span class="form-label">Email</span>
                                {{ form.email(class="form-control", type='email', placeholder="Enter your email") }}
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Номер стола</span>
                                        {{ form.res(class="form-control", placeholder="Номер") }}
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                {{ form.submit(type="submit", class="submit-btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>