<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бронь</title>
    <link rel="stylesheet" type="text/css" href="static/css/css_reservation.css">
    <style>
        html { height: 100%; }
        body {
        margin: 0;
        height: 100%;
        background-color: #000;
        background-size: cover;
        }
    </style>
</head>
<body>
<form class="form_text">
    <div class="text_title">
        Забронировать стол
    </div>
    <div class="intro_text">
        Успейте забронировать стол(допустим)
    </div>
</form>
<form class="form" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="form_group">
        <label class="form_label">Email</label>
        {{ form.email(class="form_input", type='email', placeholder="Email") }}
    </div>
    <div class="form_group">
        <label class="form_label">Номер стола</label>
        {{ form.res(class="form_input", placeholder="") }}
    </div>
    {{ form.submit(type="submit", class="form_button") }}
    <div class="form_label_none_div">
        <small><p></p></small>
    </div>
    <div class="error">
        <p></p>
        <h1 class="message_error">{{message}}</h1>
    </div>
</form>
</body>
</html>